.App {
    text-align: center;
}

.pagination li {
    border: 1px solid #eee;
    background-color: white;
    color: black;
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 6px;
    margin: 1px;
}

.sider .list-group-item {
    color: #cbcbcb;
}
.sider .list-group-item:hover {
    color: #ffffff;
}

.sider a:hover{
    text-decoration: none;
    color: white;
}

.myScroll {
    height: 600px;
    overflow: scroll;
}

.orderModal .modal-content {
    width: 1000px !important;
    transform: translate(-200px);
}

.message:hover {
    background-color: black;
    color: white;
}

.message {
    box-shadow: 5px 5px 10px #919191;
}

.table-hover {
    box-shadow: 5px 5px 10px #bdbdbd;
}

.pagination li a {
    color: black;
}

.pagination .active {
    background-color: #282c34;
}

.pagination .active a {
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
