$red: #E10C33;
$green: #1DD1A1;


.form-group {
  position: relative;
  border-radius: 6px;
  padding: 7px 15px 0;

  .is-touched.av-invalid {
    & ~ label {
      color: $red;
    }

    border-color: $red !important;
  }

  .is-touched.av-valid {
    border-color: $green !important;

    & ~ label {
      color: $green;
    }
  }

  label {
    color: #aaaaaa;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 27px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input {
    height: auto;
    padding-bottom: 0 !important;
    border: 1px solid #eee !important;
  }

  select {
    height: auto;
    padding: 20px 10px 0 8px !important;
  }

  .label-date {
    top: 12px;
    left: 27px;
    font-size: 12px;
  }

  input, select {
    font-size: 22px;
    font-family: "SF-Pro-Display-Medium", sans-serif;
    padding: 15px 10px 10px 11px;
    display: block;
    color: #444;
    background-color: #fff;
    box-shadow: none;

    &:focus, &:valid {
      box-shadow: none !important;
      outline: none;

      & ~ label {
        top: 12px;
        left: 27px;
        font-size: 12px;
      }
    }
  }

  select, input[type=date] {
    & ~ label {
      top: 12px;
      left: 27px;
      font-size: 14px;
    }
  }
}